<div class="dashboard top-m-20">
  <section class="overview">
    <div class="mdl-grid">
      <% if @current_shop.revenue %>
        <div class="mdl-cell mdl-cell--6-col">
          <div class="card card-info sales">
            <div class="card-icon bg-success">
              <i class="material-icons mdl-36">shopping_cart</i>
            </div>
            <div class="card-content">
              <div class="card-heading">SALES</div>
              <div class="card-body">
                <%= number_to_currency @current_shop.revenue %>
             </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="mdl-cell mdl-cell--<%= @current_shop.revenue ? '6' : '12' %>-col">
        <div class="card card-info cards-sent">
          <div class="card-icon bg-primary">
            <i class="material-icons mdl-36">email</i>
          </div>
          <div class="card-content">
            <div class="card-heading">CARDS SENT</div>
            <div class="card-body">
              <%= @current_shop.cards_sent %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cards-sent">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric full-width">Status</th>
          <th class="text-center">Name</th>
          <th class="text-center">Location</th>
        </tr>
      </thead>
      <tbody>
        <% @postcards.each do |postcard| %>
          <tr id="postcard-<%= postcard.id %>">
            <td>
              <button type="button"
                class="mdl-chip mdl-color--<%= postcard.sent? ? 'light_green' : 'orange' %>">
                <span class="mdl-chip__text"><%= postcard.status %></span>
              </button>
              <% unless postcard.canceled || postcard.sent %>
                <%= link_to "Cancel", cancel_postcard_dashboard_path(postcard),
                  method: :patch, data: { confirm: "Are you sure you? This can't be undone." },
                  class: 'mdl-button mdl-js-button mdl-button--raised',
                  remote: true %>
              <% end %>
            </td>
            <td><%= postcard.customer.full_name %></td>
            <td><%= postcard.city %>, <%= postcard.state %>, <%= postcard.country %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
