<%= currently_at "Dashboard" %>

<div class="row">
  <div class="col pr-0">
    <%= select_tag :selected_campaign, options_for_select(@campaigns_for_dropdown, params[:campaign_id]), 
      {prompt: "-- All campaigns --", class: "mdc-button mdc-button--stroked dashboard-campaign-selector mb-3"} 
    %>
    <i class="material-icons mdc-select__icon expand_more" tabindex="0" role="button">expand_more</i>
  </div>
  <div class="col pr-0"></div>
  <div class="col pr-0"></div>
  <div class="col pr-0"></div>
  <div class="col pr-0"></div>
</div>

<div class="row summarize-tabs">
  <div class="col pr-0">
    <div class="mdc-card cards-sent-card">
      <div class="mdc-card__horizontal-block">
        <div class="mdc-card__media mdc-card__media-item mt-0 ml-0 d-flex">
          <i class="material-icons mdc-card__media-item" style="font-size: 300%;">email</i>
        </div>
        <section class="mdc-card__primary d-block w-100 pr-0">
          <h2 class="mdc-card__subtitle">Cards Sent</h2>
          <h1 class="mdc-card__title mdc-card__title--large"><%= @current_shop.cards_sent(params[:campaign_id]) %></h1>
        </section>
      </div>
    </div>
  </div>

  <div class="col pr-0">
    <div class="mdc-card cards-sent-card">
      <div class="mdc-card__horizontal-block">
        <div class="mdc-card__media mdc-card__media-item mt-0 ml-0">
          <i class="material-icons mdc-card__media-item mx-2" style="font-size: 300%;">monetization_on</i>
        </div>
        <section class="mdc-card__primary d-block w-100 px-0" style="max-height: 98px;">
          <h3 class="mdc-card__subtitle">Realized ad spend</h2>
          <% ad_spend = ad_spend_postcards(@postcards).size * Plan.current.amount / 100.00 %>
          <h1 class="mdc-card__title mdc-card__title--large"><%= number_to_currency(ad_spend) %></h1>
        </section>
      </div>
    </div>
  </div>

  <% if @current_shop.revenue %>
      <div class="col pr-0">
        <div class="mdc-card sales-realized-card">
          <div class="mdc-card__horizontal-block">
            <div class="mdc-card__media mdc-card__media-item mt-0 ml-0">
              <i class="material-icons mdc-card__media-item" style="font-size: 300%;">shopping_cart</i>
            </div>
            <section class="mdc-card__primary d-block w-100 pr-0">
              <h2 class="mdc-card__subtitle">Revenue</h2>
              <h1 class="mdc-card__title mdc-card__title--large"><%= number_to_currency(@current_shop.revenue / 100.0) %></h1>
            </section>
          </div>
        </div>
      </div>
  <% end %>

  <div class="col pr-0">
    <div class="mdc-card cards-sent-card">
      <div class="mdc-card__horizontal-block">
        <div class="mdc-card__media mdc-card__media-item mt-0 ml-0">
          <i class="material-icons mdc-card__media-item" style="font-size: 300%;">monetization_on</i>
        </div>
        <section class="mdc-card__primary d-block w-100 pr-0">
          <h2 class="mdc-card__subtitle">ROAS</h2>
          <h1 class="mdc-card__title mdc-card__title--large">
            <%= number_to_percentage(@current_shop.revenue == 0 ? 0 : (ad_spend / @current_shop.revenue * 100.0), precision: 2) %>
          </h1>
        </section>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="mdc-card cards-sent-card">
      <div class="mdc-card__horizontal-block">
        <div class="mdc-card__media mdc-card__media-item mt-0 ml-0">
          <i class="material-icons mdc-card__media-item" style="font-size: 300%;">monetization_on</i>
        </div>
        <section class="mdc-card__primary d-block w-100 pr-0">
          <h2 class="mdc-card__subtitle">Credit</h2>
          <h1 class="mdc-card__title mdc-card__title--large">
            <%= number_to_currency(@current_shop.credit) %>
          </h1>
        </section>
      </div>
    </div>
  </div>

</div>

<%= tag.div id: "postcard-table",
            data: {
              postcards: ActiveModelSerializers::SerializableResource.new(@postcards_with_paging, {each_serializer: PostcardSerializer}).to_json,
              search_params: params.as_json,
              total_pages: @postcards_with_paging.total_pages,
            }
%>

<%= javascript_tag do %>
  $(document).ready(function() {
    $("#selected_campaign").change(function() {
      let directUrl = "<%= dashboard_index_path %>";
      if (this.value !== '') {
        directUrl += "?campaign_id=" + this.value;
      }
      window.location.href = directUrl;
      
      $(this).val($(this).find('option[selected]').val());
    });
  })
<% end %>
