<div class="dashboard">
  <section class="overview">
    <div class="row">
      <!-- {{#if shop.revenue}}
        <div class="col-sm-6">
          <div class="card card-info sales" {{action "lineItems"}}>
            <div class="card-icon bg-success">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="card-content">
              <div class="card-heading">SALES</div>
              <div class="card-body">
                {{format-money shop.revenueDisplay}}
             </div>
            </div>
          </div>
        </div>
      {{/if}} -->
      <!-- <div class="col-sm-{{if shop.revenue "6" "12"}}"> -->
      <div class="col-sm-12">
        <div class="card card-info cards-sent">
          <div class="card-icon bg-primary">
            <span class="glyphicon glyphicon-envelope"></span>
          </div>
          <div class="card-content">
            <div class="card-heading">CARDS SENT</div>
            <div class="card-body">
              <%= @current_shop.cards_sent %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cards-sent">
      <div class="table-wrap">
        <table class="table">
          <thead>
            <tr>
              <th>Status</th>
              <th>Name</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <% @postcards.each do |postcard| %>
              <tr class="postcard-<%= postcard.id %>">
                <td>
                  <span class="label label-<%= postcard.sent ? 'success' : 'info' %>">
                    <%= postcard.status %>
                  </span>
                  <% unless postcard.canceled || postcard.sent %>
                    <%= link_to "Cancel", cancel_postcard_dashboard_path(postcard),
                      method: :delete, class: 'btn btn-warning', remote: true %>
                  <% end %>
                </td>
                <td><%= postcard.customer.full_name %></td>
                <td><%= postcard.city %>, <%= postcard.state %>, <%= postcard.country %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
