<div class="card-page" id="vueEnabledCardEditor">
  <%= form_with url: automations_path do |form| %>
      <%= form.submit "Save it" %>
      <section>
        <div class="mdl-grid">
          <div class="mdc-switch">
            <%= form.check_box "enable-discount",
                               id: "basic-switch",
                               class:"mdc-switch__native-control",
                               "v-model": "enableDiscount" %>
            <div class="mdc-switch__background">
              <div class="mdc-switch__knob"></div>
            </div>
          </div>
          <label for="basic-switch" class="mdc-switch-label">off/on</label>
          <div class="mdl-cell mdl-cell--3-col">
            Include Discount:<br><%= form.check_box "enable-discount", "v-model": "enableDiscount" %>
          </div>
          <div class="mdl-cell mdl-cell--6-col" v-if="enableDiscount">
            <div class="mdl-grid mdl-grid--no-spacing">
              <div class="mdl-cell mdl-cell--4-col">
                Percent:<br><%= form.number_field "discount_pct", id: "percent", pattern: /-?[0-9]*(\.[0-9]+)?/ %>
              </div>
              <div class="mdl-cell mdl-cell--4-col">
                Weeks til expiration:<br><%= form.number_field "discount_exp", id: "exp", pattern: /-?[0-9]*(\.[0-9]+)?/ %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="mdl-grid">
        <%= render partial: "card_side", locals: { form: form, side: :front } %>
        <%= render partial: "card_side", locals: { form: form, side: :back} %>
        <!-- %= render partial: "card_side", locals: { form: form } % -->
      </section>

  <% end %>
</div>





