<div class="card-page" id="vueEnabledCardEditor">

  <%= form_with(model: automation, url: url, local: true) do |form| %>
      <%= form.submit "Save it" %>
      <br><br>
      <section>
        <div>
          <div v-if="enableDiscount">
            <div>
              <div>
                Percent:<br><%= form.number_field :discount_pct, id: "percent", pattern: /-?[0-9]*(\.[0-9]+)?/ %>
              </div>
              <div>
                Weeks til expiration:<br><%= form.number_field :discount_exp, id: "exp", pattern: /-?[0-9]*(\.[0-9]+)?/ %>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <%= form.check_box :international %>
          <%= form.label :international, "Send to international addresses" %>
        </div>
        <div class="field">
          <%= form.label :international, "Send delay" %>
          <%= form.number_field :send_delay %>
        </div>
      </section>
      <br><br>
      <section>
        <%= form.fields_for :card_side_back do |card_back| %>
            <% if card_back.object.image %>
              <%= image_tag card_back.object.image, class: 'card_side_image' %>
            <% end %>
             <%= card_back.file_field :image %>
        <% end %>
        <br><br>
        <%= form.fields_for :card_side_front do |card_front| %>
            <% if card_front.object.image %>
                <%= image_tag card_front.object.image, class: 'card_side_image' %>
            <% end %>
            <%= card_front.file_field :image %>
        <% end %>
      </section>

  <% end %>
</div>
