<script type="text/javascript">
  $(document).ready(function() {
    $("input:checkbox").bootstrapSwitch();
  });
</script>

<section>
  <div class="row text-center">
    <%= link_to 'Create New Automation', select_type_automations_path, class: "btn btn-primary btn-lg"%>

  </div>

  <% @card_orders.each do |card| %>
    <div class="row" id="card-<%= card.id %>">
      <div class="container-fluid card flat card-order">
        <div class="row">
          <div class="col-xs-6 col-sm-2">
            <h4 class="text-center" style="border-bottom: 1px solid grey"><%= card.type %></h4>
            <div class="row text-center" style="padding: 10%">
              <div class="make-switch switch-large">
                <input type="checkbox" checked>
              </div>
            </div>
            <div class="row text-center" style="padding: 10%">
              <%= link_to "Delete", card, remote: true, method: :delete, class: 'btn btn-lg btn-danger' %>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4">
            <div class="content-box">
              <!-- {{card-template isEditable=isEditable cardOrder=cardOrder edit=(action 'editCard')}} -->
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="content-box">
              <h4 class="text-uppercase text-center">Config</h4>
              <p>Sending Delay: <%= card.send_delay %></p>
              <p>Filter:</p>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="content-box">
              <h4 class="text-uppercase text-center">Stats</h4>
              <p>Cards Send:</p>
              <p>Revenue:</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
