<div class="top-m-20">
  <div class="text-center">
    <%= link_to 'New Automation', new_automation_path,
                class: "mdc-button" %>
  </div>
  <% @card_orders.each do |card| %>
      <div id="card-<%= card.id %>" class="panel automation-listing">
        <div>
          <h3 style="padding: 0;"><%= card.type %></h3>
        </div>
        <div class="automation-main">
          <table>
            <tr>
              <td class="automation-controls">
                <div class="automation-toggle tooltip" data-hover="On / Off">
                  <div class="mdc-switch">
                    <%= check_box_tag "card-#{card.id}",
                                      card.enabled,
                                      card.enabled,
                                      id: "basic-switch",
                                      class: 'mdc-switch__native-control',
                                      onchange: "this.setAttribute('data-params', 'card_order[enabled]=' + this.checked)",
                                      data: { remote: true,
                                              url: automation_path(card),
                                              method: :patch}
                    %>
                    <div class="mdc-switch__background">
                      <div class="mdc-switch__knob"></div>
                    </div>
                  </div>
                </div>
                <br><br>
                <div>
                  <%= link_to edit_automation_path(card),
                              method: :get,
                              data: { hover: "Edit"},
                              class: 'mdl-button mdl-js-button mdl-button--raised tooltip' do %>
                      <i class="material-icons">mode_edit</i>
                  <% end %>
                </div>
                <br>
                <div class="automation-delete-button">
                  <%= link_to automation_path(card),
                              remote: true,
                              method: :delete,
                              data: { confirm: "Are you sure you want to delete this automation? This can't be undone.",
                                      hover: "Delete"},
                              class: 'mdc-material-icons mdc-button__icon tooltip' do %>
                      <i class="material-icons mdc-button__icon cancel-postcard-button">delete</i>
                  <% end %>
                </div>
              </td>
              <td class="automation-image">
                <% if card.card_side_front.image %>
                    <%= image_tag card.card_side_front.image %>
                <% end %>
              </td>
              <td class="automation-data">
                <h4>Stats</h4>
                <p>Discount: <%= card.discount_pct %></p>
                <p>Cards Send:</p>
                <p>Revenue:</p>
              </td>
            </tr>
          </table>

        </div>
      </div>
  <% end %>
</div>
