<section class="top-m-10">
  <div class="text-center">
    <%= button_to 'Create New Automation', new_automation_path, method: :get,
      class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
  </div>

  <% @card_orders.each do |card| %>
    <div id="card-<%= card.id %>">
      <div class="card flat card-order">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col">
            <h4 class="text-center" style="border-bottom: 1px solid grey"><%= card.type %></h4>
            <div class="text-center" style="padding: 10%">
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
                <span class="mdl-switch__label"></span>
              </label>
            </div>
            <div class="row text-center" style="padding: 10%">
              <%= link_to "Delete", card, remote: true, method: :delete,
                class: 'mdl-button mdl-js-button mdl-button--raised' %>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <div class="content-box">
              <!-- {{card-template isEditable=isEditable cardOrder=cardOrder edit=(action 'editCard')}} -->
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col">
            <div class="content-box">
              <h4 class="text-uppercase text-center">Config</h4>
              <p>Sending Delay: <%= card.send_delay %></p>
              <p>Filter:</p>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col">
            <div class="content-box">
              <h4 class="text-uppercase text-center">Stats</h4>
              <p>Cards Send:</p>
              <p>Revenue:</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
