<div class="row text-center">
  <h2>
    New Card Order
    <button class="pull-right btn btn-lg btn-primary">Save</button>
  </h2>
</div>

<%= form_for @card, url: {action: 'next_step'}, html: { class: 'form' } do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.label :type, "Select Type" %>
      <%= f.select :type, options_for_select(@types.collect{|m| m}), {}, { class: 'selectpicker' } %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.check_box :enabled, class: 'enabled-handler' %>
      <label>Include discount</label>
      <div class="discount-box">
        <div class="form-group">
          <label>Coupon Percent</label>
          <%= f.text_field :discount_pct, size: 2 %>
        </div>
        <div class="form-group">
          <label>Weeks till Expiration</label>
          <%= f.text_field :discount_exp, size: 2 %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <%= f.check_box :international %>
      <label>Send to international addresses</label>
      <label>Number of weeks for sending the card after purchase</label>
      <%= f.text_field :send_delay, size: 2 %>
      <label>Set a filter</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="editable-card-side">
        <h3>IMAGE SIDE</h3>
        <div class="form">
          <div class="form-group{{if hasErrors ' has-error'}}">
            <%= f.label :image %><br>
            <%= f.file_field :image %>
            <small class="help-block">Image must be 1875px by 1275px including a 75px bleed - <a href="/images/{{if cardSide.isBack "address" "image"}}-side-guide.jpg" target="_blank">template</a>, <a href="/images/{{if cardSide.isBack "address" "image"}}-side-example.jpg" target="_blank">example</a></small>
          </div>
        </div>

        <!-- {{#if cardSide.cardOrder.hasDiscountCode}} -->
          <div class="form-group">
            <%= check_box_tag 'show_discount' %>
            Show discount code on this side
          </div>
        <div class="form-group">
          <%= check_box_tag 'show_safe_area' %>
          Show safe-area - <span>This is the area where text can be</span>
        </div>
        <div class="form-group">
          <%= check_box_tag 'show_bleed' %>
          Show bleed - <span>Anything outside of this area will be trimmed</span>
        </div>
        <div class="layers">
          <div class="bleed layer">
          </div>
          <!-- {{#if isSafeAreaShowing}} -->
            <div class="safe-area layer">
            </div>
            <div class="card-side {{if isEditable "is-editable"}}">
              <div class="layers">
                <!-- {{#if cardSide.isPostageShowing}} -->
                  <div class="postage layer">
                    <img src="/images/postage.png" />
                  </div>
                <!-- {{/if}} -->
                <!-- {{#if cardSide.isDiscountShowing}} -->
                  <div class="discount layer">
                    <!-- {{#interact-js class="box"
                      draggable=draggable
                      dragEnd=(action "dragEnd")
                      startX=cardSide.discountX
                      startY=cardSide.discountY}} -->
                      <div class="wrap">
                        <!-- <div class="percent">{{cardSide.discountPct}}% OFF</div> -->
                        <div class="code">DIS-CNT-COD</div>
                        <!-- <div class="expiration">EXPIRES {{moment-format exDiscountExp 'l'}}</div> -->
                      </div>
                    <!-- {{/interact-js}} -->
                  </div>
                <!-- {{/if}} -->
                <!-- {{#if cardSide.image}} -->
                  <div class="layer">
                    <img class="image"src="" />
                  </div>
                <!-- {{/if}} -->
              </div>
            </div>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="editable-card-side">
        <h3>IMAGE SIDE</h3>
        <div class="form">
          <div class="form-group{{if hasErrors ' has-error'}}">
            <%= f.label :image %><br>
            <%= f.file_field :image %>
            <small class="help-block">Image must be 1875px by 1275px including a 75px bleed - <a href="/images/{{if cardSide.isBack "address" "image"}}-side-guide.jpg" target="_blank">template</a>, <a href="/images/{{if cardSide.isBack "address" "image"}}-side-example.jpg" target="_blank">example</a></small>
          </div>
        </div>

        <!-- {{#if cardSide.cardOrder.hasDiscountCode}} -->
          <div class="form-group">
            <%= check_box_tag 'show_discount' %>
            Show discount code on this side
          </div>
        <div class="form-group">
          <%= check_box_tag 'show_safe_area' %>
          Show safe-area - <span>This is the area where text can be</span>
        </div>
        <div class="form-group">
          <%= check_box_tag 'show_blee' %>
          Show bleed - <span>Anything outside of this area will be trimmed</span>
        </div>
        <div class="layers">
          <!-- {{#if isBleedShowing}} -->
            <div class="bleed layer">
            </div>
          <!-- {{/if}} -->
          <!-- {{#if isSafeAreaShowing}} -->
            <div class="safe-area layer">
            </div>
            <div class="card-side {{if isEditable "is-editable"}}">
              <div class="layers">
                <!-- {{#if cardSide.isPostageShowing}} -->
                  <div class="postage layer">
                    <img src="/images/postage.png" />
                  </div>
                <!-- {{/if}} -->
                <!-- {{#if cardSide.isDiscountShowing}} -->
                  <div class="discount layer">
                    <!-- {{#interact-js class="box"
                      draggable=draggable
                      dragEnd=(action "dragEnd")
                      startX=cardSide.discountX
                      startY=cardSide.discountY}} -->
                      <div class="wrap">
                        <!-- <div class="percent">{{cardSide.discountPct}}% OFF</div> -->
                        <div class="code">DIS-CNT-COD</div>
                        <!-- <div class="expiration">EXPIRES {{moment-format exDiscountExp 'l'}}</div> -->
                      </div>
                    <!-- {{/interact-js}} -->
                  </div>
                <!-- {{/if}} -->
                <!-- {{#if cardSide.image}} -->
                  <div class="layer">
                    <img class="image"src="" />
                  </div>
                <!-- {{/if}} -->
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
