<!--<div class="mdl-grid">-->
<!--<div class="mdl-layout-spacer"></div>-->
<!--<div class="mdl-spinner mdl-js-spinner mdl-spinner&#45;&#45;single-color is-active"></div>-->
<!--<div class="mdl-layout-spacer"></div>-->
<!--</div>-->

<!--
TODO:

  Use form_tag instead
  https://stackoverflow.com/questions/4805774/rails-3-form-without-model-how-do-i-create-a-form-that-is-not-tied-to-a-model

  File tag uses multipart form upload
  http://api.rubyonrails.org/classes/ActionView/Helpers/FormTagHelper.html#method-i-file_field_tag

  But we probably want to go direct to S3 (via jQuery below)
  https://devcenter.heroku.com/articles/direct-to-s3-image-uploads-in-rails


  Another file upload strategy for Rails
  https://medium.com/rails-ember-beyond/ajax-file-upload-in-rails-using-dropzone-and-carrierwave-6f5436fdfdb0

-->

<div class="card-page" id="vueEnabledCardEditor">
  <%= form_with url: automations_path, method: :post do |form| %>
      <%= form.submit "Save it" %>
      <section>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col">
          Include Discount:<br><%= form.check_box "enable-discount", "v-model": "enableDiscount" %>
        </div>
        <div class="mdl-cell mdl-cell--6-col" v-if="enableDiscount">
          <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--4-col">
              Percent:<br><%= form.number_field "discount_pct", id: "percent", pattern: /-?[0-9]*(\.[0-9]+)?/ %>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              Weeks til expiration:<br><%= form.number_field "discount_exp", id: "exp", pattern: /-?[0-9]*(\.[0-9]+)?/ %>
            </div>
          </div>
        </div>
      </div>
      </section>
      <section class="mdl-grid">
        <%= render partial: "card_side", locals: { form: form, side: :front } %>
        <%= render partial: "card_side", locals: { form: form, side: :back} %>
        <!-- %= render partial: "card_side", locals: { form: form } % -->
      </section>

  <% end %>
</div>





