
<h3>Select the type of automation you'd like to create:</h3>

<%= link_to 'Back', :back, class: 'btn btn-default cancel' %>
<br>
<%= link_to 'Customer Winback', new_automations_path(:type => :winback), class: 'btn btn-primary', data: { turbolinks: false }%>
<br>
<%= link_to 'New Customer Welcome', new_automations_path(:type => :welcome), class: 'btn btn-primary', data: { turbolinks: false }%>
<br>
<%= link_to 'Lifetime Spend Thank You', new_automations_path(:type => :lifetime_spend), class: 'btn btn-primary', data: { turbolinks: false }%>
<br>
<%= link_to 'Abandoned Checkout', new_automations_path(:type => :abandoned_checkout), class: 'btn btn-primary', data: { turbolinks: false }%>
<br>
<%= link_to 'winback [turbolinks]', new_automations_path(:type => :winback)%>
<br>


<!--TYPES = ['PostSaleOrder', 'CustomerWinbackOrder', 'LifetimePurchaseOrder', 'AbandonedCheckout']-->


<!--AbandonedCheckout = AbandonedCheckout-->

<!--Winback = Winback (Time Elapsed)-->

<!--Lifetime Spend = PostSaleOrder + Filter: total_spent-->

<!--New Customer Welcome = PostSaleOrder + Filter: basket_size-->
