<%= tag.div id: "stripe-pub-key", data: { stripe_pub_key: Rails.configuration.stripe[:publishable_key] } %>

<div id="new-subscription-form" class="billing top-m-20 panel">
  <br>
  <%= link_to root_path, class: "mdc-button mdc-button--stroked" do %>
    <!--<i class="material-icons mdc-button__icon">keyboard_backspace</i>-->
    Back
  <% end %>
  <br>
  <section class="text-center">
    <br>
    <div class="jumbotron top-m-20">
      <div class="container">
        <div class="f-s-300"><i class="material-icons">print</i> + <i class="material-icons">email</i> = 99&cent;</div>
        <div><strong>PRINT</strong> and <strong>MAIL</strong> cards for just <strong>99&cent;</strong> in the USA</div>
      </div>
    </div>

    <h3>How many customers do you want to reach this month?</h3>

    <div><span v-cloak class="checkout-quantity-display f-s-400">{{ quantity || <%= checkout_quantity(@current_shop) %> }}</span><span class="f-s-200">&nbsp</span></div>

    Last Month: <%= @current_shop.last_month %>

    <%= render 'slider', slider_index: checkout_index(@current_shop) %>

    <br><br>

    <div>
      <strong><span v-cloak class="checkout-display-price">$ {{ this.price.toFixed(2) }}</span></strong>
      to raise your customer lifetime value &nbsp
    </div>
    <br>
    <%= form_with(model: @subscription, local: true, method: :patch, id:'checkout-form') do |form| %>
      <%= form.select(:quantity, nil, {}, {class: 'hidden checkout-quantity-select', ref: 'quantitySelect', 'v-model':'quantity' }) do %>
        <%= options_for_select(select_options, checkout_quantity(@current_shop)) %>
      <% end %>
      <%= hidden_field_tag(:stripeToken) %>
      <button id="checkout-purchase-button" class="mdc-button mdc-button--raised" @click="checkoutSubmit">Buy Now</button>
      <%= form.submit %>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          ERROR EXPLANATION:
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    <% end %>

  </section>
</div>
