<%= form_for @card_template do |f| %>

  <div class="row">
    <div class="col-md-10 card_editor">
      <h4 style="display: inline;">ADDRESS SIDE</h4>
      <a href="#/" id="custom_background_back" onClick="customBackground()" style="display: inline; float: right;">Go Custom - Add Background</a>

      <div class="editor_images">
        <!-- Images -->
        <% if @card_template.image_back == nil %>
          <%= image_tag('postage-area-image.png', :class => "card_display") %>
        <% else %>
          <%= image_tag(@card_template.image_back, :class => "card_display custom_back") %>
          <%= image_tag('postage-area-image.png', :class => "address_overlay") %>
        <% end %>
        <%= image_tag(@card_template.logo, :class => "address_logo") %>

        <!-- Custom Background Upload -->
        <div class="custom_background_box" id="bg_box_back" style="display: none;">
          <%= f.label :image_back, "Custom Background" %>
          <%= f.file_field :image_back, :class => "form-control" %>
          <%= link_to "remove", image_remove_card_template_path(:id => @card_template.id, :image_remove => "back") %>
        </div>

        <!-- Custom Logo -->
        <div class="logo_box">
          <%= f.label :logo, "Upload a Logo" %>
          <%= f.file_field :logo, :class => "form-control" %>
          <%= link_to "remove", image_remove_card_template_path(:id => @card_template.id, :image_remove => "logo") %>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 card_editor">
      <h4 style="display: inline;">MESSAGE SIDE</h4>
      <a href="#/" id="no_text" onClick="removeFrontText()" style="display: inline; float: right;">Go Custom - Remove Editable Text</a>

      <!-- Images -->
      <div class="editor_images">
        <% if @card_template.image_front == nil %>
          <%= image_tag('coupon-bg.png', :class => "card_display", :id => "front_display") %>
        <% else %>
          <%= image_tag(@card_template.image_front, :class => "card_display", :id => "front_display") %>
        <% end %>

        <!-- Custom Coupon -->
        <div class="coupon_box">
          <div class="coupon_display">
            <h1><%= @card_template.coupon_pct %>% OFF</h1>
            <h3>Coupon-Code-123</h3>
          <p>
            <a href="#/" class="btn btn-sm btn-primary" onClick="flipCoupon()">Edit</a><br>
            EXPIRE <%= (Time.now + @card_template.shop.send_delay.weeks + (@card_template.coupon_exp || 2).weeks).strftime("%D") %>
          </p>
          </div>
          <div class="coupon_form" style="display: none;">
            <a href="#/"  onClick="flipCoupon()" class="coupon_form_close">X</a>
            <%= f.label :coupon_pct, "Coupon Percentage" %>
            <%= f.number_field :coupon_pct, :class => "form-control", :id =>"coupon_pct_field"%>

            <%= f.label :coupon_exp, "Weeks after sent until coupon expires" %>
            <%= f.number_field :coupon_exp, :class => "form-control", :value => @card_template.coupon_exp || 2, :id => "coupon_exp_field" %>

            <%= f.submit "Save", class: "btn btn-sm btn-primary", id: "coupon_save_button", remote: true %>
          </div>
          <%= f.hidden_field :coupon_loc, :value => (@card_template.coupon_loc || "10.00,65.00"), :class => "coupon_loc form-control", :id => "coupon_loc" %>
        </div>

        <!-- Custom Text Boxes -->
        <div class="card_editor_fields">
          <%= f.label :title_front, "Title" %>
          <%= f.text_field :title_front, :class => "form-control card_title", :id => "master_card_title_front"%>

          <%= f.label :text_front, "Message" %>
          <%= f.text_area :text_front, :rows => 20, :class => "form-control card_message", :id => "master_card_text_front"%>
        </div>

        <!-- Custom Background Upload -->
        <div class="custom_background_box" id="bg_box_front">
          <%= f.label :image_front, "Custom Background" %>
          <%= f.file_field :image_front, :class => "form-control" %>
          <%= link_to "remove", image_remove_card_template_path(:id => @card_template.id, :image_remove => "front") %>
        </div>
      </div>
    </div>
  </div>

  <div class="row bottom_row">
    <div class="col-sm-10">
      <%= f.submit "Update", onClick: "ShopifyApp.Bar.loadingOn()", class: "btn btn-lg btn-primary", id: "wizard2_submit" %>
    </div>
  </div>
<% end %>

<script>
<%= javascript_include_tag "card_editor" %>
</script>
