<%=  form_for :lob_sample_address, url: send_sample_admin_card_order_path(@card_order), method: :post do |f| %>
    <table>
      <tr>
        <td><%= f.label 'Name: ' %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label 'Street 1: ' %></td>
        <td><%= f.text_field :address_line1 %></td>
      </tr>
      <tr>
        <td><%= f.label 'City: ' %></td>
        <td><%= f.text_field :address_city %></td>
      </tr>
      <tr>
        <td><%= f.label 'Province Code: ' %></td>
        <td><%= f.text_field :address_state %></td>
      </tr>
      <tr>
        <td><%= f.label 'Zip: ' %></td>
        <td><%= f.text_field :address_zip %></td>
      </tr>
      <tr>
        <td><%= f.label 'Country Code: ' %></td>

        <td><%= f.text_field :address_country, value: 'US'%></td>
      </tr>
      <tr>
        <br>
        <td></td>
        <td><%= f.submit 'Send Sample'  %><%= link_to "Cancel", :back %></td>
      </tr>
    </table>
<% end  %>
