<%= content_for :main_navigation do %>
  <div class="mdc-toolbar__section mdc-toolbar__section--align-start mdc-toolbar__section--shrink-to-fit">
      <nav id="toolbar-tab-bar" class="mdc-tab-bar">
        <%= nav_tab 'Dashboard', dashboard_index_path, current: current_tab %>
        <%= nav_tab 'Automations', root_path, current: current_tab %>
        <%= nav_tab 'Help', faq_path, current: current_tab %>
        <%= nav_tab 'Subscription', new_subscription_path, current: current_tab %>
        <span class="mdc-tab-bar__indicator"></span>
      </nav>
  </div>
<% end %>
