<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <% application_name = ShopifyApp.configuration.application_name %>
  <title><%= application_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/font_links' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'app_pack', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'app_pack', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= gtm_head_tag %>
  <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
</head>

<body>

<%= gtm_body_tag %>

<div class="app-wrapper">
  <div class="app-content">
    <main role="main">
      <%= render 'layouts/navbar' %>
      <div class="mdc-layout-grid mdc-layout-grid--align-left main-layout-grid">
        <%= yield %>
      </div>
    </main>
  </div>
</div>

<%= render 'layouts/flash_messages' %>

<script src="https://unpkg.com/@shopify/app-bridge"></script>
    <% params[:page] ? a = '?page=' + params[:page] : a = "" %>

    <%= content_tag(:div, nil, id: 'shopify-app-init', data: {
      api_key: ShopifyApp.configuration.api_key,
      shop_origin: (@shop_session.domain if @shop_session),
      debug: Rails.env.development?,
      path: request.path + a
    } ) %>

<%= render partial: 'layouts/groove', locals: { shop: @current_shop } unless Rails.env.development? %>

<% if content_for?(:javascript) %>
  <div id="ContentForJavascript" data-turbolinks-temporary>
    <%= yield :javascript %>
  </div>
<% end %>
</body>
</html>
